<html>
   <body>
      <form action = "http://localhost:5000/result" method = "POST">
         <div class="form-group">
            <label for="k">k</label>
            <input type="number" class="form-control" id="k" placeholder="Enter  k" name="k">
         </div>
         <div class="form-group">
         <label for="t">t</label>
         <input type="number" class="form-control" id="t" placeholder="Enter  t" name="t">
         </div>
         <div class="form-group">
            <label for="c">c</label>
            <input type="number" class="form-control" id="c" placeholder="Enter  c" name="c">
         </div>  
         <button type="submit" class="btn btn-primary">Submit</button>
      </form>
   </body>
</html>
